services:
  app:
    build: .
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8080:8080"
    volumes:
      - ./src/database:/app/src/database

  worker:
    build: .
    restart: unless-stopped
    env_file:
      - .env
    command: [ "python", "src/worker.py" ]
    volumes:
      - ./src/database:/app/src/database
